.ext-negativo {
  color: #e65c6c;
}

.ext-positivo {
  color: #00d199;;
}

.ext-anterior {
  font-size: .8em;
}

.data-transacao {
  color: #aaa !important;
}

.tituloMesAtualExtrato {
  background-color: #fafafa;
  font-size: 1.4em;
}

.maisExtrato {
  font-size: 2em;
}
.cadaBC{
  padding: 0 6px;
}