page-confirma-transferencia {
  .nomeFulano, .contaFulano, .valorTransf {
    color: #fff;
  }
  .valorTransf {
    font-size: 1.4em;
    font-weight: 700;
  }
  .nomeFulano {
    font-size: 1.2em;
    font-weight: 700;
  }
}
